#cityStateSpan {
    font-weight: bold;
}

#weatherBlockLeft {
    float: left;
    width: 40%;
}

#weatherBlockRight {
    float: right;
    width: 60%;
}

#block-brendans-weather {
    height: 250px;
}

#currentWeatherTempText {
    font-size: 14pt;
    line-height: 18pt;
    color: #333;
    font-weight: bold;
}

#tomorrowForecast {
    padding-top: 10px;
}

#currentWeatherText,#todayText,#tomorrowText,#currentWeatherDescText {
    color: #808080;
    font-weight: bold;
}

.forecastText {
    font-size: .6em;
}

#currentWeatherDescText {
    font-size: .75em;
}